@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: fit-content;
  height: 100vh;
  padding: 0 4rem;
  position: relative;
  z-index: 0;
}

.imageContainer {
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
  opacity: 0; /* Inicia oculto */
  margin: 0 auto;
  animation: fadeInScale 1s ease forwards 0.5s;
}

.textContainer {
  text-align: center;
  text-transform: uppercase;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 0rem;
  z-index: 2;
  margin-left: -15rem;
}

.title {
  font-size: 10rem;
  letter-spacing: 0.2em;
  margin: -5rem 0;
  padding-left: 1.5rem;
  opacity: 0; /* Inicia oculto */
  animation: fadeInSlideDown 2s ease forwards;
}

.developer {
  font-size: 6rem;
  letter-spacing: 0.28em;
  margin: 0;
  padding-left: 0.9rem;
  opacity: 0; /* Inicia oculto */
  animation: fadeInSlideDown 2s ease forwards;
  animation-delay: 1s; /* Retrasar la animación para que ocurra después del título */
}

.subtitle {
  font-size: 3.01rem;
  letter-spacing: 0.33em;
  font-weight: 100;
  padding-left: 0.54rem;
  opacity: 0; /* Inicia oculto */
  animation: fadeInSlideDown 2s ease forwards;
  animation-delay: 2s; /* Retrasar la animación para que ocurra después del developer */
}
