.pageIndicator {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 10rem;
    font-weight: bold;
    z-index: 2;
    text-decoration: underline;
  }