.pageIndicator {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #fff;
    margin: -1rem 1rem ;    
    font-size: 10rem;
    font-weight: bold;
    z-index: 2;
    text-decoration: underline;
  }