.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: 0;
}

.section.visible {
  opacity: 1;
  z-index: 1; /* Asegura que la sección visible esté por encima */
}

.section.hidden {
  opacity: 0;
  z-index: 0; /* Asegura que las secciones ocultas estén debajo */
}

.section0 { background-color: #000; }
.section1 { background-color: #000; }
.section2 { background-color: #000; }
.section3 { background-color: #000; }